table {
	margin-top: 10px;
	border-spacing: 0px;
}
td {
	width: 42px;
	height: 42px;
	border: 0px;
	padding: 0px;
	border-spacing: 0px;

}
body {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-size: large;
	color: white;
	background-color: black;
}
/*.container > * {
	display: inline-block;
}*/
h1 {
	text-align: center;
}

h4 {
	text-decoration: underline;
}

.options {
	text-align: center;
}

div {
	margin-top: 10px;
}

#timer {
	font-family: "Aldrich";
}

/*div.contentPage {
	clear: left;
	float: left;
	width:100%;
	overflow: hidden;

}

div.experiment-wrapper {
	float: left;
	width: 80%;
}

div.experiment {
    margin: 0 auto;
    max-width: 50%;
}*/

/*div.log {
    float: left;
    width: 46%;
    position: relative;
    left: 52%;
    overflow: hidden;
}*/